{%- comment -%} Render target for AJAX cart drawer refresh (fetched via ?section_id=cart-drawer-render). {%- endcomment -%}
<div data-cart-body>
  {%- render 'cart-contents', context: 'drawer' -%}
</div>
{% schema %}
{
  "name": "Cart drawer render"
}
{% endschema %}
